extends template 

block content
    h1 this is a list
    h2 you can press the button and go to the users list
block foot
    a(href="/users/json-list" type="button" class="btn btn-primary") Json List